@charset "utf-8";
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* .fontface("starter-icons");

[class^="icon-"], [class*=" icon-"] {
    font-family: 'starter-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    Better Font Rendering ===========
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a:before {
    content: "\e600";
}
.icon-b:before {
    content: "\e601";
}
 */
@import "libs/compass/stylesheets/icons.css";
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 *
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
/* IE10 Windows Phone 8 Fixes */
/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
/* Specify Swiper's Size: */
/*width:200px;
	height: 100px;*/
/* Specify Slides's Size: */
/*width: 100%;
	height: 100%;*/
/* Specific active slide styling: */
/* Specific visible slide styling: */
/* ===============================================================
Pagination Styles
================================================================*/
/* Stylize pagination button: */
/* Specific active button style: */
/* Specific visible button style: */
.colgroup {
  position:relative;
  display:block;
  width:100%;
}
.colgroup:before, .colgroup:after {
  content:" ";
  display:table;
}
.colgroup:after { clear:both; }
.col {
  float:left;
  display:block;
  position:relative;
}
.colgroup-j {
  width:100%;
  text-align:justify;
  font-size:0;
  font-size:12px \9;
}
.colgroup-j:after {
  content:"";
  width:100%;
  display:inline-block;
  zoom:1;
  *display:inline;
}
.col-j {
  position:relative;
  display:inline-block;
  *zoom:1;
  *display:inline;
  font-size:24px;
  vertical-align:top;
  text-align:left;
}
.none { display:none; }
.fix:before, .fix:after {
  content:" ";
  display:table;
}
.fix:after { clear:both; }
[class^="ico-"], [class*=" ico-"] {
  display:inline-block;
  position:relative;
  vertical-align:middle;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
*:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
audio, canvas, video { display:inline-block; }
audio:not([controls]) {
  display:none;
  height:0;
}
[hidden], template { display:none; }
html {
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body { margin:0; }
a { background:transparent; }
a:focus { outline:thin dotted; }
a:active, a:hover { outline:0; }
h1 { font-size:2em; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
dfn {  }
hr {
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0;
}
mark {
  background:#ff0;
  color:#000;
}
code, kbd, pre, samp {
  font-family:monospace, serif;
  font-size:1em;
}
pre { white-space:pre-wrap; }
q { quotes:"\201C" "\201D" "\2018" "\2019"; }
small { font-size:80%; }
sub, sup {
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
img {
  border:0;
  vertical-align:middle;
}
svg:not(:root) { overflow:hidden; }
figure { margin:0; }
fieldset {
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend {
  border:0;
  padding:0;
}
button, input, select, textarea {
  font-family:inherit;
  font-size:100%;
  margin:0;
}
button, input { line-height:normal; }
button, select { text-transform:none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance:button;
  cursor:pointer;
}
button[disabled], html input[disabled] { cursor:default; }
input[type="checkbox"], input[type="radio"] {
  box-sizing:border-box;
  padding:0;
}
input[type="search"] {
  -webkit-appearance:textfield;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {
  border:0;
  padding:0;
}
textarea {
  overflow:auto;
  vertical-align:top;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
ol, ul {
  list-style:none;
  margin:0;
  padding:0;
}
nav ul { list-style:none; }
dl, dt, dd {
  padding:0;
  margin:0;
}
p {
  margin:0;
  padding:0;
}
input, button, select, textarea {
  font-family:"Conqueror", "Arial", sans-serif;
  font-size:24px;
  line-height:normal;
}
input:-moz-placeholder, button:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder { color:#454545; }
input::-moz-placeholder, button::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color:#454545;
  opacity:1;
}
input:-ms-input-placeholder, button:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#454545; }
input::-webkit-input-placeholder, button::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#454545; }
.placeholder { color:#454545; }
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
@font-face {
  font-family:'Conqueror';
  src:url('/css/libs/fonts/conquerorsans-webfont.eot');
  src:url('/css/libs/fonts/conquerorsans-webfont.eot?#iefix') format('embedded-opentype'), url('/css/libs/fonts/conquerorsans-webfont.woff') format('woff'), url('/css/libs/fonts/conquerorsans-webfont.ttf') format('truetype'), url('/css/libs/fonts/conquerorsans-webfont.svg#conqueror_sansregular') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'Conqueror';
  src:url('/css/libs/fonts/conquerorsans_bold-webfont.eot');
  src:url('/css/libs/fonts/conquerorsans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/libs/fonts/conquerorsans_bold-webfont.woff') format('woff'), url('/css/libs/fonts/conquerorsans_bold-webfont.ttf') format('truetype'), url('/css/libs/fonts/conquerorsans_bold-webfont.svg#conqueror_sansbold') format('svg');
  font-weight:bold;
  font-style:normal;
}
@font-face {
  font-family:'Conqueror';
  src:url('/css/libs/fonts/conquerorsanslight-webfont.eot');
  src:url('/css/libs/fonts/conquerorsanslight-webfont.eot?#iefix') format('embedded-opentype'), url('/css/libs/fonts/conquerorsanslight-webfont.woff') format('woff'), url('/css/libs/fonts/conquerorsanslight-webfont.ttf') format('truetype'), url('/css/libs/fonts/conquerorsanslight-webfont.svg#conqueror_sanslight') format('svg');
  font-weight:300;
  font-style:normal;
}
html {
  min-width:1280px;
  margin:0 auto;
}
body {
  font-family:"Conqueror", "Arial", sans-serif;
  font-size:24px;
  font-weight:300;
  line-height:normal;
  color:#676767;
  background-color:#f1f1f1;
  background-image:url(/images/header-bg.png), url(/images/bg.jpg);
  background-position:top center, left top;
  background-repeat:repeat-x, repeat;
  font-variant:small-caps;
}
a {
  color:#000000;
  text-decoration:none;
}
a:hover, a:focus {
  color:#555555;
  text-decoration:underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family:inherit;
  line-height:normal;
  color:inherit;
  font-weight:normal;
}
h1 { font-size:36px; }
h2 { font-size:30px; }
h3 { font-size:24px; }
h4 { font-size:18px; }
h5 { font-size:24px; }
h6 { font-size:12px; }
ul.list { list-style-type:disc; }
ol.list { list-style-type:decimal; }
.gl-article p { padding:10px 0px 10px 0px; }
.gl-text-block {
  padding-top:45px;
  padding-bottom:80px;
}
.gl-text-block.gl-text-block-no-bottom { padding-bottom:10px; }
.gl-lotus {
  background:url(/images/lotus.png) no-repeat center top;
  height:100px;
  width:100%;
}
.gl-title {
  color:#6e6e6e;
  text-align:center;
  font-weight:300;
  font-size:68px;
  height:104px;
  line-height:1;
  background:url(/images/home-page-short-split.png) no-repeat bottom center;
  font-variant:small-caps;
}
.gl-sub-title {
  font-size:26px;
  color:#454545;
  line-height:58px;
  height:58px;
  text-align:center;
  font-weight:300;
  font-variant:small-caps;
}
.gl-text {
  background:url(/images/home-page-split.png) no-repeat top center;
  padding-top:45px;
  
  width:1025px;
  margin:0 auto;
  line-height:41px;
  font-variant:small-caps;
}
.gl-text p + p { margin-top:41px; }
.gl-form .control-field {
  margin:0 auto;
  width:292px;
  color:#454545;
}
.gl-form .custom-button {
  width:106px;
  height:25px;
  background:url(/images/home-button.png) no-repeat;
  text-indent:-9999px;
  margin:0 auto;
  display:block;
}
.gl-readmore {
  display:block;
  margin:0 auto;
  background:url(/images/readmore.png) no-repeat;
  width:179px;
  height:53px;
  text-indent:-9999px;
  margin-top:15px;
}
.custom-text {
  width:290px;
  border:1px solid #939393;
  outline:none;
  font-size:24px;
  line-height:normal;
  padding:0px 5px 0px 5px;
  height:50px;
  background:#ffffff;
  margin-bottom:24px;
  font-weight:300;
  font-variant:small-caps;
}
textarea.custom-text {
  width:290px;
  border:1px solid #939393;
  outline:none;
  font-size:24px;
  line-height:normal;
  padding:0px 5px 0px 5px;
  height:50px;
  background:#ffffff;
  margin-bottom:24px;
  font-weight:300;
  font-variant:small-caps;
  resize:none;
  height:164px;
  padding:5px;
}
.custom-button {
  border:none;
  outline:none;
  font-size:24px;
  display:inline-block;
  *zoom:1;
  *display:inline;
  text-decoration:none;
  text-align:center;
}
.custom-button:before, .custom-button:after {
  content:" ";
  display:table;
}
.custom-button:after { clear:both; }
.container {
  width:1280px;
  margin:0 auto;
  position:relative;
}
.header {
  background:#ffffff;
  height:230px;
  width:100%;
  position:relative;
}
.header .header-lang-switcher {
  position: absolute;
  right: 78px;
  top: 20px;
  font-size: 16px;
}
.header .header-lang-switcher .header-lang {
  color: #000000;
  text-decoration: underline;
}
.header.transparent-header .header-lang-switcher .header-lang {
  color: #ffffff;
}
.header .header-lang-switcher .header-lang.active {
  cursor: default;
  text-decoration: none;
}
.header .header-logo {
  display:block;
  width:114px;
  height:138px;
  position:absolute;
  left:50%;
  margin-left:-57px;
  top:36px;
  background:url(/images/logo-black.png);
}
.header .header-line {
  height:10px;
  width:100%;
  background:url(/images/header-line-black.png) no-repeat center top;
  position:absolute;
  top:190px;
}
.header .header-menu {
  position:absolute;
  top:135px;
  width:100%;
}
.header .header-menu:before, .header .header-menu:after {
  content:" ";
  display:table;
}
.header .header-menu:after { clear:both; }
.header .header-menu .header-menu-left {
  float:left;
  margin-left:60px;
}
.header .header-menu .header-menu-right {
  float:right;
  margin-right:60px;
}
.header .header-menu ul:before, .header .header-menu ul:after {
  content:" ";
  display:table;
}
.header .header-menu ul:after { clear:both; }
.header .header-menu ul li {
  float:left;
  margin:0 18px;
  position:relative;
}
.header .header-menu ul li a {
  color:#222222;
  font-weight:300;
  font-size:26px;
  text-transform:uppercase;
  line-height:1;
}
.header .header-menu ul li.active:before {
  display:block;
  width:14px;
  height:14px;
  background:url(/images/menu-active.png) no-repeat;
  position:absolute;
  top:-12px;
  left:-8px;
  content:'';
}
.header.transparent-header {
  background:transparent;
  position:absolute;
  top:0;
  z-index:71;
}
.header.transparent-header .header-logo { background:url(/images/logo-white.png); }
.header.transparent-header .header-line { background:url(/images/header-line-white.png) no-repeat center top; }
.header.transparent-header .header-menu ul li a { color:#d0d0d0; }
.sticky-wrapper {
  position:relative;
  z-index:100;
}
.home-slider-wrapper {
  overflow:hidden;
  position:relative;
  margin-bottom:25px;
}
.home-slider-wrapper .bx-viewport { height:auto !important; }
.home-slider-wrapper .home-slider {
  height:9999px;
  position:relative;
}
.home-slider-wrapper .home-slider .home-slider-item {
  height:100%;
  position:absolute;
}
.home-slider-wrapper .home-slider .home-slider-item .home-slider-media {
  height:100%;
  position:relative;
  width:100%;
}
.home-slider-wrapper .home-slider .home-slider-item .home-slider-media img {
  position:absolute;
  height:100%;
}
.home-slider-wrapper .home-slider .home-slider-item .home-slider-text {
  position:absolute;
  width:1025px;
  top:50%;
  margin-top: -200px;
  height:230px;
  left:50%;
  margin-left:-513px;
  text-align:right;
  color:#ffffff;
  font-size:60px;
  font-weight:300;
  padding-right:48px;
  background:url(/images/slider-vline.png) no-repeat 889px 96px;
  line-height:1;
}
.home-slider-wrapper .home-slider .home-slider-item .home-slider-text .home-slider-title {
  position:relative;
  top:20px;
}
.home-slider-wrapper .home-slider .home-slider-item .home-slider-text .home-slider-button {
  position:absolute;
  background:url(/images/view-button.png) no-repeat;
  width:179px;
  height:57px;
  text-indent:9999px;
  display:block;
  right:48px;
  top:150px;
}
.home-slider-wrapper .bx-controls-direction {
  position:absolute;
  right:0;
  top:0;
  height:100%;
  z-index:75;
  overflow:hidden;
  padding-bottom:30px;
}
.home-slider-wrapper .bx-controls-direction a {
  display:block;
  width:81px;
  height:50%;
  background-color:rgba(0,0,0,0.14);
  position:relative;
  text-indent:-9999px;
  background-repeat:no-repeat;
  background-position:center;
}
.home-slider-wrapper .bx-controls-direction a.bx-prev {
  top:-1px;
  background-image:url(/images/slider-prev.png);
}
.home-slider-wrapper .bx-controls-direction a.bx-next {
  top:1px;
  background-image:url(/images/slider-next.png);
}
.home-slider-wrapper .home-slider-white-line {
  position:absolute;
  bottom:0;
  height:30px;
  width:100%;
  background:rgba(255,255,255,0.86);
  z-index:70;
}
.parallax-block {
  height:700px;
  overflow:hidden;
  position:relative;
}
.parallax-block .parallax-block-in {
  height:1119px;
  width:100%;
  background-image:url(/images/parallax.jpg);
  position:relative;
  background-size:cover;
  background-position:50%;
}
.parallax-block .parallax-block-items {
  position:absolute;
  top:156px;
  z-index:5;
  width:100%;
}
.parallax-block .parallax-block-items:before, .parallax-block .parallax-block-items:after {
  content:" ";
  display:table;
}
.parallax-block .parallax-block-items:after { clear:both; }
.parallax-block .parallax-block-items .p-block-item {
  float:left;
  height:425px;
  width:33.33%;
  background-position:50%;
  background-size:cover;
}
.photo-block {
  height:762px;
  width:100%;
  background-position:50%;
  background-size:cover;
}
.decor-line {
  width:100%;
  background:url(/images/decor.png) no-repeat center top;
  height:407px;
  margin-bottom:40px;
}
.blog-tabs .blog-tabs-header {
  text-align:center;
  background:url(/images/tabs-line.png) no-repeat center bottom;
  padding-bottom:30px;
  margin-bottom:50px;
}
.blog-tabs .blog-tabs-header a {
  color:#5b5b5b;
  font-size:30px;
  
  font-variant:small-caps;
  margin:0 27px;
  border-bottom:1px dashed #5b5b5b;
  line-height:1;
  text-decoration:none;
}
.blog-tabs .blog-tabs-header a.active, .blog-tabs .blog-tabs-header a:hover {
  color:#000000;
  border:none;
  text-decoration:none;
}
.blog-tabs .blog-tabs-item {
  position:absolute;
  display:none;
}
.blog-tabs .blog-tabs-item.active {
  position:relative;
  display:block;
}
.blog-list {
  position:relative;
  left:-20px;
  width:1040px;
  margin:0 auto;
}
.blog-list:before, .blog-list:after {
  content:" ";
  display:table;
}
.blog-list:after { clear:both; }
.blog-list .blog-list-item {
  float:left;
  width:238px;
  height:286px;
  margin-left:20px;
  border:1px solid #d6d3cb;
  font-size:14px;
  font-variant:small-caps;
  padding:18px;
  margin-bottom:20px;
}
.blog-list .blog-list-item .blog-list-item-image {
  height:114px;
  width:100%;
  background-size:cover;
  background-position:50%;
  margin-bottom:18px;
}
.blog-list .blog-list-item .blog-list-item-title {
  line-height:1;
  display: block;
  margin-bottom:12px;
}
.blog-list .blog-list-item .blog-list-item-date {
  color:#707070;
  
  line-height:1;
  padding-bottom:14px;
  border-bottom:1px dotted #707070;
  display:inline-block;
  margin-bottom:12px;
}
.blog-list .blog-list-item .blog-list-item-text {
  line-height:18px;
  height:58px;
  overflow:hidden;
}
.blog-list .blog-list-item.blog-list-static {
  width:498px;
  height:354px;
}
.blog-list .blog-list-item.blog-list-static .blog-list-item-image { height:100%; }
.blog-list .blog-list-item.blog-list-long { height:422px; }
.blog-list .blog-list-item.blog-list-long .blog-list-item-image { height:250px; }
.blog-item-blocks .blog-item-block {
  padding-bottom:20px;
  background:url(/images/blog-item-sep.png) no-repeat bottom center;
  margin-bottom:30px;
}
.blog-item-blocks .blog-item-block:before, .blog-item-blocks .blog-item-block:after {
  content:" ";
  display:table;
}
.blog-item-blocks .blog-item-block:after { clear:both; }
.blog-item-blocks .blog-item-block .blog-item-text {
  width:640px;
  float:left;
  line-height:41px;
}
.blog-item-blocks .blog-item-block .blog-item-text p {
  width:520px;
  
  font-variant:small-caps;
  margin-bottom:41px;
}
.blog-item-blocks .blog-item-block .blog-item-image {
  width:640px;
  float:left;
  padding-top:10px;
}
.blog-item-blocks .blog-item-block .blog-item-image iframe {
  width:450px;
  margin-left:45px;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper {
  width:348px;
  height:348px;
  margin:0 auto;
  position:relative;
  margin-bottom: 35px;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls {
  text-align:center;
  z-index:9999;
  width:100%;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-pager {
  position:absolute;
  bottom:-40px;
  width:100%;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-pager-item {
  display:inline-block;
  text-indent:-9999px;
  width:12px;
  height:12px;
  border-radius:100%;
  margin:0 5px;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-pager-item a {
  display:block;
  background:#7f7e7e;
  border:1px solid #7f7e7e;
  border-radius:100%;
  width:12px;
  height:12px;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-pager-item a.active { background:#ffffff; }
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-controls-direction {
  position:absolute;
  top:50%;
  height:39px;
  margin-top:-20px;
  width:100%;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-controls-direction a {
  position:absolute;
  width:16px;
  height:39px;
  text-indent:-9999px;
  display:block;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-controls-direction .bx-prev {
  left:-30px;
  background:url(/images/mini-prev.png) no-repeat;
}
.blog-item-blocks .blog-item-block .blog-item-image .blog-item-slider-wrapper .bx-controls .bx-controls-direction .bx-next {
  right:-30px;
  background:url(/images/mini-next.png) no-repeat;
}
.blog-item-slider img {
  max-height: 348px;
}
.blog-item-blocks .blog-item-block.blog-item-text-right .blog-item-text { float:right; }
.blog-item-navi {
  width:430px;
  font-size:14px;
  font-variant:small-caps;
  
  margin:0 auto;
}
.blog-item-navi a { text-decoration:underline; }
.blog-item-navi div { float:left; }
.blog-item-navi .blog-item-navi-left {
  display:block;
  min-width: 176px;
  height: 17px;
}
.blog-item-navi .blog-item-navi-left a {
  display: block;
  background:url(/images/navi-prev.png) no-repeat left center;
  padding-left:18px;
  padding-right:50px;
}
.blog-item-navi .blog-item-navi-right {
  display:block;
  min-width: 173px;
  height: 17px;
}
.blog-item-navi .blog-item-navi-right a {
  display: block;
  padding-right:18px;
  background:url(/images/navi-next.png) no-repeat right center;
  padding-left:50px;
}
.contacts-three-cols {
  width:1080px;
  margin:0 auto;
  margin-top:30px;
  line-height:32px;
}
.contacts-three-cols:before, .contacts-three-cols:after {
  content:" ";
  display:table;
}
.contacts-three-cols:after { clear:both; }
.contacts-three-cols .contacts-col { float:left; }
.contacts-three-cols .contacts-address {
  width:470px;
  
}
.contacts-three-cols .contacts-phone { width:310px; }
.contacts-three-cols .contacts-fb {
  width:300px;
  padding-left:40px;
  background:url(/images/fb-black.png) no-repeat left center;
}
.contacts-map {
  width:100%;
  height:415px;
  border-top:3px solid #ffffff;
  border-bottom:3px solid #ffffff;
  background-size: cover;
  background-position: 50%;
}
.contact-form-text {
  width:680px;
  margin:0 auto;
  
  margin-bottom:30px;
}
.gl-full-image {
  height:609px;
  max-width:1897px;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  margin:0 auto;
  position:relative;
  z-index:1;
}
.services-text-wrapper {
  background-image:url(/images/blue-alpha.png);
  background-position:center bottom;
  background-repeat:no-repeat;
  background-size: 100%;
  padding-bottom:100px;
  padding-top:150px;
  margin-top:-100px;
}
.services-text {
  background-image:url(/images/services-jewellery.png);
  background-position:-20px -30px;
  background-repeat:no-repeat;
  width:1075px;
  position:relative;
  margin:0 auto;
  height:1100px;
  
  margin-top:40px;
  line-height:41px;
}
.services-text .services-text-left {
  position:absolute;
  width:620px;
  left:0;
  top:0;
}
.services-text .services-text-right {
  position:absolute;
  width:620px;
  right:0;
  bottom:0;
}
.we-text {
  background-image:url(/images/we-diamond.png);
  background-position:40px 220px;
  background-repeat:no-repeat;
  width:1075px;
  position:relative;
  margin:0 auto;
  height:1200px;
  
  margin-top:40px;
  line-height:41px;
  margin-bottom:150px;
}
.we-text .we-text-left {
  position:absolute;
  width:620px;
  left:0;
  top:0;
}
.we-text .we-text-right {
  position:absolute;
  width:700px;
  right:0;
  bottom:0;
}
.we-text .we-text-right .we-text-sub-right {
  padding-left:210px;
  padding-bottom:40px;
}
.we-flower {
  width:570px;
  height:750px;
  background:url(/images/flower.png) no-repeat;
  position:absolute;
  top:650px;
  left:-140px;
}
.we-bfly {
  width:204px;
  height:230px;
  background:url(/images/bfly.png) no-repeat;
  position:absolute;
  top:100px;
  left:1000px;
  opacity: 0;
  z-index: 10;
}
.reviews-block {
  width:924px;
  margin:0 auto;
  
}
.reviews-block .reviews-item { width:924px; }
.reviews-block .reviews-item:before, .reviews-block .reviews-item:after {
  content:" ";
  display:table;
}
.reviews-block .reviews-item:after { clear:both; }
.reviews-block .reviews-item .reviews-item-image {
  width:220px;
  height:220px;
  border-radius:50%;
  background-size:cover;
  float:left;
}
.reviews-block .reviews-item .reviews-item-text {
  width:704px;
  padding-left:90px;
  float:left;
  padding-top:60px;
  line-height:41px;
}
.reviews-block .reviews-item .reviews-item-author {
  margin-top:25px;
  font-size:30px;
  color: #000000;
}
.reviews-block .bx-prev {
  position:absolute;
  top:100px;
  height:63px;
  width:39px;
  background:url(/images/review-prev.png) no-repeat;
  display:block;
  text-indent:-9999px;
  left:40px;
}
.reviews-block .bx-next {
  position:absolute;
  top:100px;
  margin-top:-32px;
  height:63px;
  width:39px;
  background:url(/images/review-next.png) no-repeat;
  display:block;
  text-indent:-9999px;
  right:40px;
}
.portfolio-slider {
  width:100%;
  height:646px;
  position:relative;
  margin-bottom:150px;
}
.portfolio-slider .swiper-container {
  width:100%;
  height:646px;
}
.portfolio-slider .swiper-slide {
  width:432px;
  height:646px;
  border-top:0 !important;
}
.portfolio-slider .swiper-slide .portfolio-item {
  width:100%;
  height:100%;
  display:block;
  background-size:cover;
  background-position:50%;
  border:3px solid #ffffff;
  border-top:0;
  border-right:0;
}
.portfolio-slider .swiper-slide .swiper-slide .portfolio-item { border-right:0 !important; }
.portfolio-slider .swiper-slide-small {
  width:216px;
  height:215px;
}
.portfolio-slider .swiper-slide-medium {
  width:432px;
  height:430px;
}
.portfolio-slider .swiper-slide-wide {
  width:646px;
  height:646px;
}
.portfolio-slider .swiper-slide-hidden { width:50px; }
.portfolio-slider .swiper-scrollbar {
  height:8px;
  width:1008px;
  background:url(/images/scrollbar-bg.png) no-repeat center;
  margin:0 auto;
  margin-top:72px;
}
.portfolio-slider .swiper-scrollbar .swiper-scrollbar-in {
  height:8px;
  width:900px;
  margin:0 auto;
}
.portfolio-slider .swiper-scrollbar .swiper-scrollbar-in .swiper-scrollbar-drag {
  background:#4d4d4d;
  border-radius:0px;
}
.portfolio-slider .swiper-white {
  position:absolute;
  right:0;
  top:0;
  width:349px;
  height:646px;
  background:url(/images/swiper-white.png) no-repeat;
  z-index:10;
}
.portfolio-slider .swiper-navi {
  position:absolute;
  width:60px;
  height:31px;
  left:50%;
  margin-left:-30px;
  top:660px;
}
.portfolio-slider .swiper-navi .swiper-navi-left {
  width:30px;
  height:31px;
  display:block;
  float:left;
  background:url(/images/swiper-left.png) no-repeat;
}
.portfolio-slider .swiper-navi .swiper-navi-right {
  width:30px;
  height:31px;
  display:block;
  float:left;
  background:url(/images/swiper-right.png) no-repeat;
}
.portfolio-text {
  
  line-height:41px;
  width:1060px;
  margin:0 auto;
}
.fancybox-lock .fancybox-overlay { background:rgba(255,255,255,0.95); }
.fancybox-opened .fancybox-skin {
  background:transparent;
  box-shadow:none;
}
.portfolio-fly-page { width:1032px; }
.portfolio-fly-page .portfolio-fly-page-image {
  height:500px;
  margin-bottom:30px;
}
.portfolio-fly-page .portfolio-fly-page-image img {
  display:block;
  height:100%;
  margin:0 auto;
}
.portfolio-fly-page .portfolio-fly-page-text {
  
  line-height:41px;
}
.portfolio-fly-page .portfolio-fly-page-text p { margin-bottom:41px; }
.portfolio-fly-page .go-to-blog {
  width:437px;
  height:58px;
  background:url(/images/fly-go-blog.png) no-repeat;
  text-indent:-9999px;
  margin:0 auto;
  display:block;
}
.fancybox-close {
  width:62px;
  height:62px;
  background:url(/images/close-fancybox.png) no-repeat;
  display:block;
  top:0;
  right:-75px;
}
.fancybox-nav {
  display:block;
  width:90px;
  height:90px;
  top:50%;
  margin-top:-45px;
}
.fancybox-nav span { background:none; }
.fancybox-prev {
  background:url(/images/fancybox-left.png) no-repeat;
  left:-110px;
}
.fancybox-next {
  background:url(/images/fancybox-right.png) no-repeat;
  right:-110px;
}
.footer-text {
  display:block;
  margin:0 auto;
  width:400px;
  font-variant:small-caps;
  color:#181818;
  margin-bottom:40px;
  font-size:26px;
  white-space:nowrap;
}
.footer-logo {
  display:block;
  width:114px;
  height:175px;
  margin:0 auto;
  background:url(/images/logo-black.png) no-repeat;
}
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  /* Fix of Webkit flickering */
  backface-visibility:hidden;
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;
  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;
  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);
  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function:ease-out;
  -moz-transition-timing-function:ease-out;
  -ms-transition-timing-function:ease-out;
  -o-transition-timing-function:ease-out;
  transition-timing-function:ease-out;
  margin:0 auto;
}
.swiper-slide {
  float:left;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
.swiper-wp8-horizontal { -ms-touch-action:pan-y; }
.swiper-wp8-vertical { -ms-touch-action:pan-x; }
.swiper-scrollbar {
  border-radius:10px;
  position:relative;
  -ms-touch-action:none;
  background:rgba(0,0,0,0.1);
}
.swiper-scrollbar-drag {
  height:100%;
  width:100%;
  position:relative;
  background:rgba(0,0,0,0.5);
  border-radius:10px;
}
.swiper-scrollbar-cursor-drag { cursor:move; }

.header-menu-wrap {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 110px;
}

.header .header-menu {
  top: 25px;
}

.header .header-menu-wrap.header-fixed {
  position:fixed;
  width:100%;
  top:0;
  left:0;
}

.header-menu-wrap.header-fixed {
  background-image:url(/images/header-line-black.png), url(/images/top-wrap.png);
  background-repeat:no-repeat, repeat-x;
  background-position:center 80px, center bottom;
  z-index: 101;
}

.header-menu-wrap.header-fixed .header-logo { background:url(/images/logo-black.png); }
.header-menu-wrap.header-fixed .header-line { background: no-repeat center top; }
.header-menu-wrap.header-fixed .header-menu ul li a { color:#222222; }

.logo-mini-in {
  height: 55px;
  position: absolute;
  width:114px;
  left:50%;
  margin-left:-57px;
  top: -16px;
  background:url(/images/logo-black.png) bottom center;
  text-indent: -9999px;
  display: none;
}

.header-menu-wrap.header-fixed .logo-mini-in {
  display: block;
}